@{
    ViewData["Title"] = "Kontakt";
}
<h1>@ViewData["Title"]</h1>

<p>jestesmy tu: adres 123</p>
<p>zadzown do nas</p>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20463.466728836323!2d18.99010815!3d50.1249693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716c821774a6705%3A0x58d67efa4faff6fd!2sPark%20Suble!5e0!3m2!1spl!2spl!4v1711013048338!5m2!1spl!2spl" width="600" height="450" style="border:1px solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
