@page
@{
    ViewData["Title"] = "Access denied";
}

<header class="container text-center">
    <h1 class="text-danger">Brak dostępu</h1>
    <p class="text-danger">Nie masz dostępu do tego źródła</p>
</header>
