@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container">
    <div class="row">

<h1 class="col-12 text-center">Sprawdź swojego maila</h1>
<p class="col text-center">
    Jeżeli nie widzisz wiadomości sprawdź zakłądkę spam.
</p>
    </div>
</div>
