@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container row">
    <div class="col-12 d-flex justify-content-center"><h1 class="my-5">Zarejestrowałeś się</h1></div>
    <hr/>
    <div class="col-12 d-flex justify-content-center">
        <p class="">Sprawdź swojego maila aby aktywować swoje konto, jeżeli nie widzisz maila, sprawdź zakładkę spam. Jeżeli do 10 minut nie dostałeś/dostałaś maila, skontaktuj się z nami </p>
    </div>
</div>

