@page
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container row align-content-center">
    <div class="col text-center mt-sm-1 mt-md-3">
        <h1>Twoje hasło zostało zmienione</h1>
    </div>
    <div class="h-100"></div>
    <div class="row text-center">
        <p><a asp-page="./Login">Zaloguj się</a> aby konynuować. </p>
    </div>
</div>