@model IEnumerable<MassageStudio.Application.Types.Dtos.MassageTypeDto>
@{
    string id = ViewBag.Id;
    ViewData["Title"] = "Zarezerwuj";

}

<div class="container-fluid mt-2">
    <div class="row d-flex justify-content-center">
        <div class="col-4 p-2 border border-secondary">
            <div class="row d-flex">
                <div class="col h2 text-center">Rezerwacja</div>
                <div class="col-12"></div>
                <div class="col">
                    <form action="/User/Reserve" method="post">
                        <input type="hidden" name="id" value="@id" />
                        <label for="massageType">Wbybierz rodzaj masażu</label>
                        <select class="form-control" id="massageType" name="massageType">
                            @foreach (var opt in Model)
                            {
                                <option value="@opt.Name">@opt.Name</option>
                            }
                        </select>
                        <div class="col text-center mt-2">Czy na pewno chcesz zarezerwować ten termin?</div>
                        <div class="d-flex justify-content-center my-2">
                            <button class="btn btn-primary" type="submit">Tak</button>
                            <div class="col-1"></div>
                            <a asp-action="AllTerms" class="btn btn-warning">Powrót</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



