@model IEnumerable<MassageStudio.Application.Massages.Dtos.MassageToListDto>

@{
    ViewData["Title"] = "UserTerms";
}

<h1>Twoje umówione masaże</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Masażysta
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @item.MasseurName  @item.MasseurLastName
            </td>
            <td class="text-center">
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Szczegóły</a>
            </td>
        </tr>
}
    </tbody>
</table>
