@model string
<link rel="stylesheet" href="~/css/fontello/css/fontello.css" />

<div class="h1">
    <a asp-action="." class="btn btn-outline-dark border-3 border-dark ">
        <i class="demo-icon icon-left-open"></i>
    </a>
    <span>
        @Model
    </span>
</div>