<li class="nav-item">
    <a class="nav-link text-dark border border-primary mx-1 rounded-pill" asp-area="" asp-controller="User" asp-action="AllTerms">Wolne Terminy</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark border border-primary mx-1 rounded-pill" asp-area="" asp-controller="User" asp-action="UserTerms">Moje terminy</a>
</li>