@model IEnumerable<MassageStudio.Application.Massages.Dtos.MassageToListDto>
@{
    ViewData["Title"] = "Lista wszystkich masaży";

    int rowCounter = 0;
    string GetColor(bool status)
    {
        rowCounter = rowCounter + 1;
        if (status)
            return rowCounter % 2 == 0 ? "background-color:rgb(70,180,70)" : "background-color:rgb(70,200,70)";
        else
            return rowCounter % 2 == 0 ? "background-color:rgb(180,70,70)" : "background-color:rgb(200,70,70)";

    }
}
<div class="h1 mx-auto" style="width: 500px;">Lista wszystkich terminów</div>
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Dodaj termin</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table table-sm">
            <th scope="col">
                imie
            </th>
            <th scope="col">
                nazwisko
            </th>
            <th scope="col">
                termin
            </th>
            <th scope="col">
                zarezerwowany
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table" style=@GetColor(item.Free)>
                <td>
                    @Html.DisplayFor(modelItem => item.MasseurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MasseurLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @if (item.Free)
                    {
                        <span>Tak</span>
                    }
                    else
                    {
                        <span>Nie</span>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>